
<div class="auth_container">
  <mat-grid-list [cols]="isMobile ? 1 : 2">
    <mat-grid-tile>
      <mat-tab-group [selectedIndex]="selectedTab" style="min-width: 400px">
        <mat-tab label="Login"><login></login> </mat-tab>
        <!-- <mat-tab label="Registro"><register  (resgister)="registerComplete()"></register></mat-tab> -->
      </mat-tab-group>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="isMobile == false"
      ><img
        class="coverImg"
        src="https://images.unsplash.com/photo-1542744095-fcf48d80b0fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2352&q=80"
    /></mat-grid-tile>
  </mat-grid-list>
</div>
