<nz-header>
  <div class="logo" routerLink="/">
    <img
      style="width: 100%; height: 100%; object-fit: contain; margin-top: -30px"
      src="https://www.torreon.gob.mx/img/logo2022.png"
    />
  </div>
  <ul nz-menu nzMode="horizontal" style="float: right">
    <li nz-menu-item routerLink="/">Ofertas de Trabajos</li>
    <li nz-menu-item routerLink="/admin">Ofertar Trabajo</li>
    <li
      nz-menu-item
      routerLink="/auth"
      *ngIf="(user$ | async) === null; else loggedIn"
    >
      Iniciar Sesion
    </li>
    <ng-template #loggedIn>
      <li nz-menu-item *ngIf="user$ | async; let user">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle </mat-icon> {{user.fname }} {{user.lname}}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Cuenta</button>
          <button mat-menu-item color="warn" (click)="logout()">Cerrar Sesion</button>
        </mat-menu>
      </li>
    </ng-template>
  </ul>
</nz-header>
