<nz-header *ngIf="(isMobileObs | async) == false; else mobileToolbar">
  <div class="logo" routerLink="/">
    <img
      style="width: 100%; height: 100%; object-fit: contain; margin-top: -30px"
      src="https://www.torreon.gob.mx/img/logo2022.png"
    />
  </div>
  <ul nz-menu nzMode="horizontal" style="float: right">
    <li nz-menu-item *ngIf="(user$ | async) !== null">
      <app-notifications></app-notifications>
    </li>
    <li nz-menu-item routerLink="/">Ofertas de Trabajos</li>
    <li nz-menu-item routerLink="/admin">Ofertar Trabajo</li>
    <li
      nz-menu-item
      routerLink="/auth"
      *ngIf="(user$ | async) === null; else loggedIn"
    >
      <span style="font-weight: bolder"> Iniciar Sesión</span>
    </li>
    <li
      nz-menu-item
      routerLink="/auth/register"
      *ngIf="(user$ | async) === null"
      style="color: #d01f2f"
    >
    Regístrate
    </li>
    <ng-template #loggedIn>
      <li nz-menu-item *ngIf="user$ | async; let user">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle </mat-icon> {{ user.fname }} {{ user.lname }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/user_info">Cuenta</button>
          <button mat-menu-item routerLink="/user_applications">
            Aplicaciones de Trabajo
          </button>
          <button
            mat-menu-item
            *ngIf="user.user_role === 'admin'"
            routerLink="/admin"
          >
            Adminstración de Empresas
          </button>
          <button
            mat-menu-item
            color="primary"
            style="color: rgb(219, 10, 10)"
            (click)="logout()"
          >
            Cerrar sesión
          </button>
        </mat-menu>
      </li>
    </ng-template>
  </ul>
</nz-header>

<ng-template #mobileToolbar>
  <nz-header style="padding: 0px">
    <div class="logo" routerLink="/">
      <img
        style="
          width: 100%;
          height: 100%;
          object-fit: contain;
          margin-top: -30px;
        "
        src="https://www.torreon.gob.mx/img/logo2022.png"
      />
    </div>
    <ul nz-menu nzMode="horizontal" style="float: right">
      <button mat-icon-button *ngIf="(user$ | async) !== null">
        <mat-icon>notifications</mat-icon>
      </button>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menuMobileLoggedOut"
        *ngIf="(user$ | async) === null; else loggedInMobile"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menuMobileLoggedOut="matMenu">
        <button mat-menu-item routerLink="/">Ofertas de Trabajos</button>
        <button mat-menu-item routerLink="/admin">Ofertar Trabajo</button>
        <button
          mat-menu-item
          routerLink="/auth"
          color="primary"
          style="font-weight: bolder"
        >
          Iniciar sesión
        </button>
      </mat-menu>
      <ng-template #loggedInMobile>
        <li nz-menu-item *ngIf="user$ | async; let user">
          <button mat-icon-button [matMenuTriggerFor]="menuMobileLoggedIn">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menuMobileLoggedIn="matMenu">
            <button mat-menu-item routerLink="/user_info">Cuenta</button>
            <button mat-menu-item routerLink="/">Ofertas de Trabajos</button>
            <button mat-menu-item routerLink="/admin">Ofertar Trabajo</button>
            <button mat-menu-item routerLink="/user_applications">
              Aplicaciones de Trabajo
            </button>
            <button
              mat-menu-item
              *ngIf="user.user_role === 'admin'"
              routerLink="/admin"
            >
            Adminstración de Empresas
            </button>
            <button
              mat-menu-item
              color="primary"
              style="color: rgb(219, 10, 10)"
              (click)="logout()"
            >
              Cerrar sesión
            </button>
          </mat-menu>
        </li>
      </ng-template>
    </ul>
  </nz-header>
</ng-template>
