<h2>
    Roles de usuario
</h2>
<button mat-icon-button style="float: right" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>

<p>Nombre: {{user.fname}} {{user.lname}}</p>
<p>Correo: {{user.email}}</p>

<mat-form-field appearance="fill" *ngIf="user" style="width: 100%;">
    <mat-label>Rol de Usuario</mat-label>
    <mat-select (valueChange)="selectRole($event)" [value]="user.user_role" required>
        <mat-option *ngFor="let role of userRoles" [value]="role">
            {{role}}
        </mat-option>
    </mat-select>
</mat-form-field>

<button mat-button color="primary" (click)="deactivateAccount(user.uid)">
    Desactivar Cuenta
  </button>

<button mat-button (click)="changeRole()">Guardar</button>