<nz-card *ngIf="job" [nzTitle]="job.name" style="margin-bottom: 10px">
  <h3>{{ job.employer.company_name }}</h3>
  <!-- <h3>{{job.address.street}}</h3> -->
  <app-favorite
    [selectedJob]="job"
    style="position: absolute; top: 10px; right: 20px"
  ></app-favorite>
  <div
    style="width: 100%; height: 1px; background: lightgrey; margin-bottom: 20px"
  ></div>

  <mat-chip-list>
    <mat-chip *ngIf="elements[0].elements.length > 0" color="primary">
      <mat-icon style="margin-right: 10px">{{ elements[0].icon }}</mat-icon>
      {{ elements[0].elements[0] }}
    </mat-chip>
    <mat-chip *ngIf="elements[1].elements.length > 0" color="primary">
      <mat-icon style="margin-right: 10px">{{ elements[1].icon }}</mat-icon>
      {{ elements[1].elements[0] | workHours }}
      <span style="margin-left: 10px" *ngIf="elements[2].elements.length > 0"
        >+{{ elements[2].elements.length - 1 }}</span
      >
    </mat-chip>
    <mat-chip *ngIf="elements[2].elements.length > 0" color="primary">
      <mat-icon style="margin-right: 10px">{{ elements[2].icon }}</mat-icon>
      {{ elements[2].elements[0] }}
      <span style="margin-left: 10px" *ngIf="elements[2].elements.length > 0"
        >+{{ elements[2].elements.length - 1 }}</span
      >
    </mat-chip>
  </mat-chip-list>
  <p>Creado: {{ job.createdAt.toDate() | date: "dd/MM/YYYY" }}</p>
  <div style="width: 100%; height: 1px; background: lightgrey"></div>
  <p style="max-height: 200px; text-overflow: ellipsis; overflow: hidden">
    {{ job.description }}
  </p>
  <div *ngIf="editJob">
    <button mat-button color="primary" (click)="editJobForm()">Editar</button>
    <button mat-button (click)="removeJob()">Cerrar convocatoria</button>
    <button mat-button color="warn" (click)="removeJob()">Cancelar convocatoria</button>
  </div>
  <button *ngIf="editJob" mat-button style="float: right;" (click)="viewApplicants()">Ver candidatos</button>
</nz-card>
