<mat-form-field class="search-form" appearance="fill">
  <mat-label>Buscar empleo</mat-label>
  <input
    matInput
    placeholder="¿Qué oportunidad laboral buscas hoy?"
    [formControl]="searchForm"
  />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<app-job-listing-filter class="search-form" [company]="companiesList" [position_name]="positionList" (onFilterChanges)="filterChanges($event)"></app-job-listing-filter>
<mat-tab-group mat-stretch-tabs (focusChange)="changeList($event.index)">
  <mat-tab label="General"> </mat-tab>
  <mat-tab label="Favoritos"> </mat-tab>
</mat-tab-group>
<div
  nz-row
  nzJustify="center"
  style="padding: 20px"
  *ngIf="isMobile == false; else mobileLayout"
>
  <div
    nz-col
    nzSpan="8"
    style="padding: 10px; background: rgba(255, 255, 255, 0); height: 60vh; overflow: scroll;"
  >
    <app-job-item
      *ngFor="let job of jobListing$ | async"
      [job]="job"
      (click)="selectJob(job)"
      class="animate"
     
    >
    </app-job-item>
  </div>
  <div nz-col nzSpan="1" style="padding: 10px"></div>
  <div
    nz-col
    nzSpan="12"
    style="background: rgba(255, 255, 255, 0); padding: 20px"
    *ngIf="selectedJob$ | async; let selectedJob"
    class="animate"
    
  >
    <app-job-description
      [selectedJob]="selectedJob"
      style="background: white"
    ></app-job-description>
  </div>
</div>

<ng-template #mobileLayout>
  <div nz-row nzJustify="center" style="padding: 20px">
    <div nz-col style="padding: 10px; background: rgba(255, 255, 255, 0); height: 100%; overflow: scroll;">
      <app-job-item
        *ngFor="let job of jobListing$ | async"
        [job]="job"
        (click)="selectJob(job)"
        class="animate"
      >
      </app-job-item>
    </div>
  </div>
</ng-template>

