<h2>Descubre Personal</h2>
<mat-form-field class="search-form" appearance="fill" style="width: 100%;">
  <mat-label>Buscar empleo</mat-label>
  <input
    matInput
    placeholder="¿Qué oportunidad laboral buscas hoy?"
    [formControl]="searchForm"
  />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<mat-grid-list [cols]="breakpoint" rowHeight="2:0.5" (window:resize)="onResize($event)">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
  </mat-grid-list>