<h2>Descubre Personal</h2>
<mat-form-field class="search-form" appearance="fill" style="width: 100%">
  <mat-label>Descubrir posibles candidatos </mat-label>
  <input
    matInput
    placeholder="¿Qué oportunidad laboral podras ofrecer?"
    [formControl]="searchForm"
  />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<app-job-listing-filter class="search-form" [filters]="filters" [filterform]="filterForm" (onFilterChanges)="filterChanges($event)"></app-job-listing-filter>
<div style="padding: 10px; max-height: 50%; overflow-y: scroll;">
  <mat-grid-list
  [cols]="isMobile ? 1 : 2"
  rowHeight="300px"
  gutterSize="10px"
 
  (window:resize)="onResize($event)"
>
  <mat-grid-tile
    *ngFor="let user of filtered_users$ | async"
    style="display: block"
  >
    <div style="display: block; padding: 10px">
      <h2>{{ user.fname }} {{ user.lname }}</h2>
      <p *ngIf="user.nationality">Nacionalidad: {{ user.nationality }}</p>
      <p *ngIf="user.school_level">Educación: {{ user.school_level | school }}</p>
      <p *ngIf="user.birth_date">Fecha de nacimiento: {{ user.birth_date }}</p>
      <mat-chip-list style="width: 100%">
        <mat-chip *ngFor="let skill of user.skills">{{ skill }}</mat-chip>
      </mat-chip-list>
      <button mat-button color="primary" style="width: 100%" (click)="upload(user)">
        Solicitar candidato
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
</div>

