<div style="height: 85%; overflow-y: scroll; margin-bottom: 20px; ;">
    <div *ngFor="let question of questions; let idx = index">
      <form
        [formGroup]="forms[idx]"
        *ngIf="questions != null"
        style="padding: 20px"
      >
        <div
          class="form-row"
          style="width: 100%; height: 100%; margin-left: auto; margin-right: auto"
        >
          <h2>{{ questions[idx].title }}</h2>
          <app-question
            *ngFor="let q of question.questions; let q_idx = index"
            [question]="q"
            [form]="forms[idx]"
            [idx]="q_idx"
          >
          </app-question>
        </div>
      </form>
    </div>
  </div>
  
  <div style="background-color: white; margin-top: 10px; margin-right: 20px;">
      <button mat-button style="float: right" color="primary" (click)="save()">
          Guardar
        </button>
  </div>
  