<!-- <nz-steps [nzCurrent]="1" nzDirection="vertical">
  <nz-step nzTitle="Informacion del Candidato"> </nz-step>
  <nz-step nzTitle="CV" nzDescription="This is a description."> </nz-step>
  <nz-step nzTitle="Posicion Previa" nzDescription="This is a description.">
  </nz-step>
</nz-steps> -->
<h1>Aplicacion: #{{job.id}}</h1>

<h2>Informacion de Contacto</h2>
<p>{{ job.personal_data.fname }} {{ job.personal_data.lname }}</p>
<p>Telefono: {{job.personal_data.country_code }} {{ job.personal_data.phone }}</p>
<p>Correo: {{ job.personal_data.email }}</p>

<h2>Curriculum</h2>
<button mat-button (click)="download(job.formData[0].resume_url)">Descargar CV</button>

<h2>Puesto Previo</h2>
<p>{{ job.formData[1].prev_position }}</p>
<p>{{ job.formData[1].prev_employer }}</p>


