<h1>Aplicación: #{{ job.id }}</h1>
<mat-progress-bar
  *ngIf="loading == true"
  mode="indeterminate"
></mat-progress-bar>
<button mat-icon-button style="float: right" mat-dialog-close>
  <mat-icon>close</mat-icon>
</button>
<mat-chip color="primary" *ngIf="job.status">{{job.status | statusChip}}</mat-chip>
<h2>Información de Contacto</h2>
<p>{{ job.personal_data.fname }} {{ job.personal_data.lname }}</p>
<p>
  Teléfono: {{ job.personal_data.country_code }} {{ job.personal_data.phone }}
</p>
<p>Correo: {{ job.personal_data.email }}</p>

<h2>Curriculum</h2>
<button mat-button color="primary" (click)="download(job.formData[0].resume_url)">
  Descargar CV
</button>

<h2>Puesto Previo</h2>
<p>{{ job.formData[1].prev_position }}</p>
<p>{{ job.formData[1].prev_employer }}</p>

<div *ngIf="(isAdmin$ | async) == true">
  <button
    mat-button
    *ngIf="job.status == 'applied'"
    (click)="updateStatus('notified')"
  >
    Notificar candidato
  </button>
  <button
    mat-button
    *ngIf="job.status == 'notified'"
    (click)="updateStatus('contracted')"
  >
    Se contrato al candidato
  </button>
  <button mat-button  *ngIf="job.status !== 'contracted'" (click)="updateStatus('dismissed')" color="warn">
    Cancelar Applicacion
  </button>
  <span *ngIf="job.status == 'contracted'" style="font-weight: bolder; color: rgb(0, 107, 57)">
    ¡Fue Contratado!
  </span>

  <span *ngIf="job.status == 'dismissed'" style="font-weight: bolder; color: rgb(107, 0, 0)">
    Fue Rechazado
  </span>
</div>

<!-- <nz-steps [nzCurrent]="1" nzDirection="vertical">
  <nz-step nzTitle="Revisar Info del Candidato"> </nz-step>
  <nz-step nzTitle="Notificar Candidato" nzDescription="This is a description.">
  </nz-step>
  <nz-step nzTitle="Contratar Candidato" nzDescription="This is a description.">
  </nz-step>
</nz-steps> -->
