<mat-progress-bar
  *ngIf="forms"
  style="margin: 20px; width: calc(100% - 40px)"
  mode="determinate"
  [value]="((idx + 1) / forms.length) * 100"
></mat-progress-bar>
<p
  *ngIf="forms"
  style="margin: 20px 0px; text-align: right; width: calc(100% - 40px)"
>
  {{ idx + 1 }} de {{ forms.length }}
</p>
<div
  style="
    display: inline-flex;
    width: calc(100% - 40px);
    margin-bottom: 40px;
    padding: 20px;
  "
  *ngIf="forms"
>
  <div style="width: 50%; padding: 30px">
    <form
      [formGroup]="forms[idx]"
      *ngIf="questions != null"
      style="padding: 20px"
    >
      <div
        class="form-row"
        style="width: 100%; height: 100%; margin-left: auto; margin-right: auto"
      >
        <h2>{{ questions[idx].title }}</h2>
        <app-question
          *ngFor="let q of questions[idx].questions; let q_idx = index"
          [question]="q"
          [form]="forms[idx]"
          [idx]="q_idx"
          (fileUpload)="setFormPdf($event)"
        >
        </app-question>
        <button
          mat-button
          style="float: right"
          color="primary"
          *ngIf="idx + 1 >= forms.length; else finish"
          [disabled]="!forms[idx].valid"
          (click)="upload()"
        >
          Finalizar
        </button>
        <ng-template #finish>
          <button
            mat-button
            style="float: right"
            color="primary"
            (click)="idx = idx + 1"
            [disabled]="!forms[idx].valid"
          >
            Siguiente
          </button>
        </ng-template>
      </div>
    </form>
  </div>
  <div style="width: 50%; padding: 20px; background: white" *ngIf="job">
    <h1>{{ job.name }}</h1>
    <h3>{{ job.employer.company_name }}</h3>
    <h3>
      TRC, Coahuila • {{ job.payment_expectation[0] | currency }} a
      {{ job.payment_expectation[1] | currency }} / por mes
    </h3>
  </div>
</div>
