<mat-progress-bar
  *ngIf="forms"
  style="margin: 20px; width: calc(100% - 40px);"
  mode="determinate"
  [value]="((idx + 1) / forms.length) * 100"
></mat-progress-bar>
<p *ngIf="forms" style="margin: 20px 0px; text-align: right; width: calc(100% - 40px);">{{ (idx + 1) }} de {{ forms.length }}</p>
<div style="display: inline-flex; width: 100%" *ngIf="forms">
  <div style="width: 50%">
    <form [formGroup]="forms[idx]" *ngIf="questions != null">
      <div
        class="form-row"
        style="width: 100%; height: 100%; margin-left: auto; margin-right: auto"
      >
        <app-question
          *ngFor="let q of questions[idx].questions"
          [question]="q"
          [form]="forms[idx]"
          [idx]="0"
        >
        </app-question>
      </div>
    </form>
  </div>
  <div style="width: 50%"></div>
</div>
