
<div style="margin: 30px;">
    <h2>Aplicanciones de Empleo</h2>

    <mat-list>
      <mat-list-item
        role="listitem"
        *ngFor="let job_application of jobApplications$ | async"
      >
        <div>
          {{ job_application.personal_data.fname }}
          {{ job_application.personal_data.lname }}
    
          Creado el: {{ job_application.createdAt.toDate() | date }}
          <span class="example-spacer"></span>
          <button mat-button (click)="selectJob(job_application)">
            Ver Applicación
          </button>
        </div>
      </mat-list-item>
    </mat-list>
</div>


