<div style="margin: 30px">
  <h2>Aplicanciones de Empleo</h2>


  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <mat-list>
    <mat-list-item
      role="listitem"
      style="background:  white;"
      *ngFor="let job_application of jobApplications$ | async; let i = index"
    >
      <div style="display: inline-flex; width: 100%; line-height: 36px">
        <span style="margin-right: 20px; line-height: 36px">{{ i + 1 }}.</span>
        {{ job_application.personal_data.fname }}
        {{ job_application.personal_data.lname }}

        <span class="example-spacer"></span>
        <button mat-button (click)="selectJob(job_application)">
          Ver Applicación
        </button>
        <button
          mat-button
          color="warn"
          (click)="removeJobApplication(job_application)"
        >
          Retirar Applicación
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>
