<h2>Aplicaciónes de Trabajo</h2>

<button mat-button (click)="jobApplication()" color="primary"> Agregar nueva aplicación </button>
<mat-tab-group mat-stretch-tabs (focusChange)="changeList($event.index)">
  <mat-tab label="Abiertas"> </mat-tab>
  <mat-tab label="Cerradas"> </mat-tab>
</mat-tab-group>
<mat-list>
  <app-job-item
    *ngFor="let job of (jobListing$ | async)"
    [job]="job"
    class="animate"
    [edit]="true"
    (edit_job)="jobApplication($event)"
    (delete_job)="updateJobApplication($event)"
  >
  </app-job-item>
</mat-list>
