<button
  mat-icon-button
  *ngIf="notification$ | async; let notification; else: empty"
  [matBadgeHidden]="notification.length < 1"
  [matBadge]="notification.length"
  (click)="viewList()"
>
  <mat-icon>notifications</mat-icon>
</button>
<div
  *ngIf="view == true"
  style="
    position: absolute;
    background: white;
    z-index: 10;
    width: 300px;
    left: -200px;
    white-space: pre-wrap;
    line-height: 20px;
    max-height: 200px;
    overflow-y: scroll;
  "
>
  <mat-list>
    <mat-list-item
      *ngFor="let notifications of notification$ | async; let i = index"
      (click)="onOpen()"
    >

      <p>
        <span>{{ i + 1 }}. </span>
        La compañia {{ notifications.components[0] }}
        <span
          [style.color]="
            notifications.status === 'notified' ? '#1cb750' : '#0098ff'
          "
          >{{ notifications.status | status }}</span
        >
      </p>
    </mat-list-item>
  </mat-list>
</div>
<ng-template #empty>
  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
</ng-template>
