<h2>Aplicantes de Trabajo</h2>

<mat-list>
  <mat-list-item
    role="listitem"
    *ngFor="let job_application of jobApplications$ | async; else noApplications"
  >
    <div style="width: 100%; display: inline-flex;">
      {{ job_application.personal_data.fname }}
      {{ job_application.personal_data.lname }}

      <span class="example-spacer"></span>
      <mat-chip color="primary" *ngIf="job_application.status">{{job_application.status}}</mat-chip>
      <button mat-button (click)="selectJob(job_application)">
        Ver Applicación
      </button>
    </div>
  </mat-list-item>
</mat-list>

